.wrapper{
    width: max-content;
    overflow: hidden;
    background-color: rebeccapurple;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 12px black;

    .container{
        >form{
            overflow: hidden;
            height: max-content;
            display: flex;
            flex-direction: column;
            
            .date{
                padding: 1rem;
                font-size: 1.3rem;
                font-weight: 600;
                >div{
                    border-radius: 10px;
                    gap: 0.5rem;
                    div{
                        // border: 2px solid red;
                        display:flex;
                        flex-direction:row;
                        justify-content:center;
                        align-content:center;
                        flex:1;
                        color:darkslateblue; 
                        padding:0.4rem;
                        
                        background-color: wheat;
                        cursor:pointer;
                        border-radius: 5px;
                        &:hover{
                            background-color: crimson;
                            color: white;
                        }
                    }
                }
            }
            .text{
                padding: 0.5rem;
                background-color: white;
                font-size: 1.3rem;
                font-weight: 500;
                width: 100%;
                min-height: 12rem;
                letter-spacing: 2px;
                resize: vertical;
            }
            .button{
                // background-color: teal;
                background-color: palegreen;
                // height: 2rem;
                width: 100%;
                border: none;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 3px;
                padding: 1rem;
                &:hover{
                    background-color: dodgerblue;
                    transition: all 0.5s;
                    cursor: pointer;
                    background-color: rgba(219, 192, 192, 0.5);
                }
            }
        }
    }
}