.wrapper{
    width: calc(100vw - 17rem );
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    .container{
        .bar{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
            .first{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                flex: 1;
                >span:nth-child(1){
                    text-transform: capitalize;
                    font-weight: 700;
                    font-size: 2rem;
                    letter-spacing: 3px;
                }
                >span:nth-child(2){
                    text-transform: capitalize;
                    color: dodgerblue;
                    font-weight: 500;
                    font-size: 1.2rem;
                    letter-spacing: 3px;
                }
            }
            .second{
                display: flex;
            flex-direction: row;
            justify-content: center;
            align-self: center;
                >button{
                    background-color: darkslateblue;
                    text-transform: capitalize;
                    font-weight: 500;
                    font-size: 1rem;
                    letter-spacing: 2px;
                    color: white;
                    padding: 0.5rem;
                    border: none;
                    border-radius: 6px ;
                    cursor: pointer;
                    &:hover{
                        background-color: dodgerblue;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}
