.wrapper {
    width: fit-content;
    border: 2px solid gray;
    overflow: hidden;
  .container {
    // width: 100%;
    .wrapperOut{
        .wrapperIn{
            >div{
                display: flex;
                flex-direction: row;
            }
            .wrapperInOut{

            }
            .wrapperInIn{

            }
            .wrapperCheck{}
            .wrapperCheckLabel{}
        } 
    }
    
  }
}
